useDynLib("RMKdiscrete")
export ("dLGP","LGPMVP","LGP.findmax","LGP.get.nc","pLGP","qLGP","rLGP","sLGP","dbiLGP","biLGP.logMV","rbiLGP",
        "dnegbin","negbinMVP","dbinegbin","binegbin.logMV","rbinegbin","dmanaclash.dmg","dmanaclash.xyN",
        "dmanaclash.net","rmanaclash")
importFrom("stats", "dbinom", "dnbinom", "ppois", "qpois", "rbinom",
     "rnbinom", "rnorm", "rpois", "runif")
